.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #1C0040;
    height: 100px;
    box-sizing: border-box;
  }
  
  .header h1 {
    font-family: sans-serif;
    color: white;
    margin: 0;
  }
  
  .icon {
    display: flex;
    align-items: center;
  }
  
  .im {
    margin-right: 20px;
  }
  
  @media (max-width: 768px) {
    .header {
      height: auto;
      flex-direction: column;
      justify-content: center;
    }
  
    .icon {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-top: -1%;

    }
  
    .im {
      margin-right: 10px;
      /* width: 10%;
      height: 10%; */
    }
  }
  
  @media (max-width: 480px) {
    .im {
      /* width: 24px;
      height: 24px; */
      margin-right: 5px;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .search-container {
    border-radius: 50px;
    background-color: #f5f5f5;
    padding: 0.5rem 1rem;
    border-color: #1C0040;
    color: #1C0040;
    outline: solid;
    width: 30%;
  
  }
  
  .search-box {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    text-align: center;
    font-size: larger;
    color: #1C0040;
  
  }
  
  /* .filter-text {
    display: none;
  } */
  
  .button-container {
    display: none;
  }
  
  .button {
    border-radius: 50px;
    background-color: #1C0040;
    color: whitesmoke;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #008000;
  }
  .filter-text {
    display: block;
    font-size: x-large;
    color: #013221;
    font-family: popins;
  }
  
  @media only screen and (min-width: 768px) {
    /* .filter-text {
      display: block;
      font-size: x-large;
      color: #013221;
      font-family: popins;
    } */
    .im {
        width: 80%;
        height: 80%;
        margin-right: 5px;
      }
    .button-container {
      margin-left: 2rem;
      display: flex;
    }
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 350px;
    margin: 0 auto 0 0;
    position: relative;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 25px;
    color: #f5f5f5;
    background-color: #1C0040;
  }
  
  .search-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  

 







  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 10px;
    /* margin-right: 10px; */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 120%;
    border: none;
    border-radius: 25px;

  }
  
  .search-btn {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
  }
  
  .button-container {
    position: relative;
  }
  
  /* .filter-options {
    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-options button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .filter-options ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  .filter-options li {
    padding: 5px;
    cursor: pointer;
  }
  
  .price-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .price-range label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  
  .price-range input {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    text-align: center;
  }
  
  .price-range input:focus {
    outline: none;
    border-color: #4caf50;
  } */
  /* .filter-options {
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.filter-options button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.filter-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-options li {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.price-range label {
  font-size: 16px;
  margin-right: 10px;
}

.price-range input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.price-range input:last-child {
  margin-right: 0;
}
 */



 
 
 .filter-options {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  background-color: rgb(251, 251, 251);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.filter-options button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: #1C0040;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f5f5;
}

.filter-options button:hover {
  background-color: #4910ce;
  color: white;
}

.filter-options ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.filter-options li {
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-options li:hover {
  background-color: #1C0040;
  color: white;
}

.price-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price-range label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.price-range input {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

.price-range input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.5);
}

.price-range input:hover {
  transform: scale(1.05);
  border-color: #4caf50;
}

.gradient-button {
  background: linear-gradient(to right, #b81c10, #1a1207);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px rgba(38, 34, 28, 0.5);
}

.filter-notification {
  background-color: #e80a0a;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 1;
}
