@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');

.header {
  display: flex;
  flex-direction: column;
  background-color: #1c0040;
  box-sizing: border-box;
  font-family: 'Poppins';
  box-shadow: 0px 0.1vw 3vw -20px black;
  width: 100vw;
  position: relative;
  z-index: 999;
  /* padding: 0 7.32%; */
}
.header-navbar {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw;
}
.header-logo-con2 {
  display: none;
}
.header-logo-con {
  /* background-color: #5311aa; */
  width: 178.37px;
  margin: 0.4vw 0;
  display: flex;
  align-items: center;
}
.logo {
  width: 100%;
}
.icon-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-container .im {
  margin-top: 15%;
}

.header-search-bar {
  background-color: #fffffa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.15vw 7vw;
}

.search-box-con {
  /* background-color: aqua; */
  padding: 0vw;
  padding-bottom: 0.1vw;
  width: 30%;
  height: 100%;
  margin: 0 0;
}
.search-box {
  font-family: 'Poppins';
  font-size: 12px;
  padding: 0.2vw 0 0.2vw 1vw;
  width: 95%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #1c0040;
}
.filter-btn {
  margin: 0%;
  margin-top: 0.2%;
  font-family: 'Poppins';
  font-weight: 600;
  color: #1c0040;
}

@media screen and (max-width: 500px) {
  .header-logo-con {
    display: none;
  }
  .header-logo-con2 {
    display: flex;
    width: 50px;
    margin: 2vw 0;
  }
}

@media screen and (max-width: 350px) {
  .header-navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo-con2 {
    display: none;
  }
}
