@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');

.uv-userView-con {
  font-family: 'Poppins';
  background-color: #fffffa;
  border-radius: 2vw;
  box-shadow: 0px 0.01vw 2.5vw -1.5vw black;
  margin: 3vw 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.uv-userView-heading {
  color: #333;
  /* font-size: 28px; */
  font-weight: bold;
  /* margin-bottom: 10px; */
  margin: auto 0;
}
.uv-subDiv {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: left;
  justify-content: center;
  width: 25%;
  margin-left: 1vw;
  padding: 5px;
}

.uv-userView-id,
.uv-userView-email,
.uv-userView-name,
.uv-userView-username,
.uv-userView-created,
.uv-userView-flag {
  color: #333;
  font-size: 12px;
  /* margin: 5px 0; */
  align-items: left;
  /* background-color: beige; */
  margin: 0;
  text-align: left;
}

.uv-userView-imageContainer {
  margin-top: 10px;
}

.uv-userView-image {
  border-radius: 20px;
}
