.AddPost-main {
  background-color: #fafaf7;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.AddPost-edit {
  max-width: 80%;
  height: auto;
  /* background: rgb(184, 73, 236); */
  box-shadow: 0px 0.1vw 2vw -0.5vw black;
  border-radius: 10px;
  margin: 5vw auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img {
  width: 200%;
  height: 420px;
  display: inline-block;
  margin-bottom: -5%;
  margin-left: -2%;
}

.AddPost-edit > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.AddPost-edit > .button {
  background: #013221;
  border: 1px solid #025538;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.AddPost-edit input {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.AddPost-edit button {
  width: 70%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1c0040;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.AddPost-edit button:hover {
  background-color: #7136bd;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.image {
  margin-left: 30px;
}
.up {
  display: flex;
}
.pl {
  background-color: rgb(219, 242, 242);
}
.lab {
  margin-left: -10%;
}
.but {
  /* border: 3px slid green;
    border-radius: 50px; */
  border-style: solid;
  border-radius: 17%;
  /* border-width: 500%; */
  width: 150%;
}
.del {
  background: white;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  width: 40%;
  margin-left: 28%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}

.del button {
  width: 50%;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #cc0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.del button:hover {
  background-color: #e34242;
}

.confirmation {
  background-color: white;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  width: 40%;
  margin-left: 28%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}

.confirmation p {
  margin-bottom: 1rem;
}

.confirmation button {
  margin: 0 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.confirmation button:first-child {
  background-color: #cc0000;
  color: white;
}

.confirmation button:first-child:hover {
  background-color: #e34242;
}

.confirmation button:last-child {
  background-color: white;
  color: #1c0040;
  border: 1px solid #dddfe2;
}

.confirmation button:last-child:hover {
  background-color: #dddfe2;
}

.custom-file {
  background-color: #1c0040;
  color: #dddfe2;
  /* border-radius: 5%;
  border: 1px solid; */
}

.img-fluid {
  height: 40px;
  width: 40px;
}
